<!--
    ioBroker.vis zugspitze-widgets Widget-Set

    version: "0.0.94"

    Copyright 2023 MonkeyParson pfaffe.st@gmail.com
-->
<!-- here you can include so many css as you want -->
<link rel="stylesheet" href="widgets/zugspitze-widgets/css/style.css" />
<!-- here you can include so many js-files as you want -->

<script type="text/javascript" src="widgets/materialdesign/lib/jquery.initialize.js"></script>

<script type="text/javascript" src="widgets/zugspitze-widgets/js/zugspitze-widgets.js"></script>
<script type="text/javascript" src="widgets/zugspitze-widgets/js/helper/zugspitze-helper.js"></script>
<script type="text/javascript" src="widgets/zugspitze-widgets/js/widgets/alert/zugspitze.state.js"></script>
<script type="text/javascript" src="widgets/zugspitze-widgets/js/widgets/alert/list/zugspitze.item.js"></script>
<script type="text/javascript" src="widgets/zugspitze-widgets/js/widgets/temperature/zugspitze.state.js"></script>
<script type="text/javascript" src="widgets/zugspitze-widgets/js/widgets/temperature/list/zugspitze.item.js"></script>
<script type="text/javascript" src="widgets/zugspitze-widgets/js/widgets/type/shelly/zugspitze.state.js"></script>
<script type="text/javascript" src="widgets/zugspitze-widgets/js/widgets/type/shelly/list/zugspitze.item.js"></script>
<script type="text/javascript" src="widgets/zugspitze-widgets/js/widgets/uptime/zugspitze.state.js"></script>
<script type="text/javascript" src="widgets/zugspitze-widgets/js/widgets/uptime/list/zugspitze.item.js"></script>
<script type="text/javascript" src="widgets/zugspitze-widgets/js/widgets/consumption/overall/zugspitze.state.js"></script>
<script type="text/javascript" src="widgets/zugspitze-widgets/js/widgets/consumption/overall/list/zugspitze.item.js"></script>
<script type="text/javascript" src="widgets/zugspitze-widgets/js/widgets/consumption/current/zugspitze.state.js"></script>
<script type="text/javascript" src="widgets/zugspitze-widgets/js/widgets/consumption/current/list/zugspitze.item.js"></script>
<script type="text/javascript" src="widgets/zugspitze-widgets/js/widgets/link/shelly/zugspitze.state.js"></script>
<script type="text/javascript" src="widgets/zugspitze-widgets/js/widgets/details/shelly/zugspitze.state.js"></script>
<script type="text/javascript" src="widgets/zugspitze-widgets/js/widgets/switch/light/zugspitze.state.js"></script>
<script type="text/javascript" src="widgets/zugspitze-widgets/js/widgets/button/more/zugspitze.state.js"></script>
<script type="text/javascript" src="widgets/zugspitze-widgets/js/widgets/card/body/zugspitze.state.js"></script>
<script type="text/javascript" src="widgets/zugspitze-widgets/js/widgets/card/zugspitze.state.js"></script>

<!-- the full description of format in data-vis-attrs can be found here:
    https://github.com/ioBroker/ioBroker.vis/blob/master/www/js/visEditInspect.js#L39

    ----------------------------------------------------------
    Mandatory XML attributes:
        id="tplZugspitze-widgetsWIDGETNAME"
        type="text/ejs"
        class="vis-tpl"

        "type" and "class" are always the same. "id" is unique and must start with "tplSETNAME" and ends with widget name. Use camel-case for it.

    ----------------------------------------------------------
    data-vis-attrs - divided with semicolon the list of attributes, like attr1/id;attr2/color
        Full format of one attribute is: attr_name(start-end)[default_value]/type,idFilter/onChangeFunc
            attr_name - the name of the attribute, e.g. "myID"
            start-end - creates automatically attributes from attr_namestart to attr_nameend, like "myID(1-3)" creates myID1, myID2, myID3
            default_value - by creation of widget this attribute will be filled with this value, e.g. "myID[#001122]/color"
            type - some predefined types have edit helpers, else it will be shown as text field

                Type format:
                      id - Object ID Dialog
                      checkbox
                      image - image
                      number,min,max,step - non-float number. min,max,step are optional
                      color - color picker
                      views - Name of the view
                      effect - jquery UI show/hide effects
                      eff_opt - additional option to effect slide (up, down, left, right)
                      fontName - Font name
                      slider,min,max,step - Default step is ((max - min) / 100)
                      select,value1,value2,... - dropdown select
                      nselect,value1,value2,... - same as select, but without translation of items
                      style,fileFilter,nameFilter,attrFilter
                      custom,functionName,options,... - custom editor - functionName is starting from vis.binds.[widgetset.funct]. E.g. custom/timeAndWeather.editWeather,short
                      group.name - define new or old group. All following attributes belongs to new group till new group.xyz
                      group.name/byindex - like group, but all following attributes will be grouped by ID. Like group.windows/byindex;slide(1-4)/id;slide_type(1-4)/select,open,closed  Following groups will be created Windows1(slide1,slide_type1), Windows2(slide2,slide_type2), Windows3(slide3,slide_type3), Windows4(slide4,slide_type4)
                      text - dialog box with html editor
                      html - dialog box with html editor

                If type is "id", you can define filer for "Select ID Dialog", like "myID/id,level.temperature".
                Additionally you can define callback(onChangeFunc), which will be called if this attribute was changed by user for different purposes: validate entry, fill other attributes, ...

        You can define additional data-vis-attrs line: data-vis-attrs0, data-vis-attrs1. Anyway data-vis-attrs must be there. You may not skip numbers.
        E.g. in "data-vis-attrs="A;" data-vis-attrs1="B" attribute B will be not parsed.

    --------------------------------------------------------
    data-vis-type
        Help information for user. Used for search.
        You can define more than one type divided by comma.
        There are following common types, but you can use your own specific types:
            ctrl   - widget that can write some Object IDs
            val    - widget that shows some information from Object IDs
            static - widget do not read information from Object IDs or URL
            button - button widget
            dimmer - dimmer widget
            weather - weather widget
            ...

    --------------------------------------------------------
    data-vis-set
        Name of the widget set. Must be equal to the name of this HTML file

    --------------------------------------------------------
    data-vis-prev
        Html code used as preview of this widget. If widget is complex you can just use image as preview:
        data-vis-prev='<img src="widgets/hqwidgets/img/prev/Prev_tplZugspitze-widgetsShowInstance.png"></img>'
        Of course the image must exist.

    --------------------------------------------------------
    data-vis-name
        Readable name of widget shown in vis editor.

    --------------------------------------------------------
    data-vis-beta="true"
        Shows "BETA" symbol in vis editor by preview

    --------------------------------------------------------
    data-vis-update-style="true"
        Call redraw of widget if some of the CSS styles in editor for this widget was changed

    You can read about Magic tags here: http://canjs.com/guides/EJS.html
    Following magic tags are exist:
        <% %> - execute javascript
        <%= %> - place escaped result to HTML document
        <%== %> - place unescaped result to HTML document

    You can do "if" conditions and "for" cycles.

-->

<script id="tplZugspitze-widgets-alert-state"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev=''
        data-vis-set="zugspitze-widgets"
        data-vis-type="val,state,string,number,bool,basic"
        data-vis-name="Alert State"
        data-vis-attrs="oid/id;">

        <div class="vis-widget zugspitze-widget zugspitze-alert-state <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds["zugspitze-widgets"].alertstate.createWidget(el, this.data) %>></div>
</script>

<script id="tplZugspitze-widgets-alert-list-item"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev=''
        data-vis-set="zugspitze-widgets"
        data-vis-type="val,state,string,number,bool,basic"
        data-vis-name="Alert List Item"
        data-vis-attrs="oid/id;label/string;">

        <div class="vis-widget zugspitze-widget zugspitze-alert-list-item <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds["zugspitze-widgets"].alertlistitem.createWidget(el, this.data) %>></div>
</script>

<script id="tplZugspitze-widgets-temperature-state"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev=''
        data-vis-set="zugspitze-widgets"
        data-vis-type="val,state,string,number,bool,basic"
        data-vis-name="Temperature State"
        data-vis-attrs="oid/id;">

        <div class="vis-widget zugspitze-widget zugspitze-temperature-state <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds["zugspitze-widgets"].temperaturestate.createWidget(el, this.data) %>></div>
</script>

<script id="tplZugspitze-widgets-temperature-list-item"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev=''
        data-vis-set="zugspitze-widgets"
        data-vis-type="val,state,string,number,bool,basic"
        data-vis-name="Temperature List Item"
        data-vis-attrs="oid/id;label/string;">

        <div class="vis-widget zugspitze-widget zugspitze-temperature-list-item <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds["zugspitze-widgets"].temperaturelistitem.createWidget(el, this.data) %>></div>
</script>

<script id="tplZugspitze-widgets-type-shelly-state"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev=''
        data-vis-set="zugspitze-widgets"
        data-vis-type="val,state,string,number,bool,basic"
        data-vis-name="Type Shelly State"
        data-vis-attrs="oid/id;">

        <div class="vis-widget zugspitze-widget zugspitze-type-shelly-state <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds["zugspitze-widgets"].typeshellystate.createWidget(el, this.data) %>></div>
</script>

<script id="tplZugspitze-widgets-type-shelly-list-item"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev=''
        data-vis-set="zugspitze-widgets"
        data-vis-type="val,state,string,number,bool,basic"
        data-vis-name="Type Shelly List Item"
        data-vis-attrs="oid/id;label/string;">

        <div class="vis-widget zugspitze-widget zugspitze-type-shelly-list-item <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds["zugspitze-widgets"].typeshellylistitem.createWidget(el, this.data) %>></div>
</script>

<script id="tplZugspitze-widgets-uptime-state"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev=''
        data-vis-set="zugspitze-widgets"
        data-vis-type="val,state,string,number,bool,basic"
        data-vis-name="Uptime State"
        data-vis-attrs="oid/id;">

        <div class="vis-widget zugspitze-widget zugspitze-uptime-state <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds["zugspitze-widgets"].uptimestate.createWidget(el, this.data) %>></div>
</script>

<script id="tplZugspitze-widgets-uptime-list-item"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev=''
        data-vis-set="zugspitze-widgets"
        data-vis-type="val,state,string,number,bool,basic"
        data-vis-name="Uptime List Item"
        data-vis-attrs="oid/id;label/string;">

        <div class="vis-widget zugspitze-widget zugspitze-uptime-list-item <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds["zugspitze-widgets"].uptimelistitem.createWidget(el, this.data) %>></div>
</script>

<script id="tplZugspitze-widgets-consumption-overall-state"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev=''
        data-vis-set="zugspitze-widgets"
        data-vis-type="val,state,string,number,bool,basic"
        data-vis-name="Consumption Overall State"
        data-vis-attrs="oid/id;">

        <div class="vis-widget zugspitze-widget zugspitze-consumption-overall-state <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds["zugspitze-widgets"].consumptionoverallstate.createWidget(el, this.data) %>></div>
</script>

<script id="tplZugspitze-widgets-consumption-overall-list-item"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev=''
        data-vis-set="zugspitze-widgets"
        data-vis-type="val,state,string,number,bool,basic"
        data-vis-name="Consumption Overall List Item"
        data-vis-attrs="oid/id;label/string;">

        <div class="vis-widget zugspitze-widget zugspitze-consumption-overall-list-item <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds["zugspitze-widgets"].consumptionoveralllistitem.createWidget(el, this.data) %>></div>
</script>

<script id="tplZugspitze-widgets-consumption-current-state"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev=''
        data-vis-set="zugspitze-widgets"
        data-vis-type="val,state,string,number,bool,basic"
        data-vis-name="Consumption Current State"
        data-vis-attrs="oid/id;">

        <div class="vis-widget zugspitze-widget zugspitze-consumption-current-state <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds["zugspitze-widgets"].consumptioncurrentstate.createWidget(el, this.data) %>></div>
</script>

<script id="tplZugspitze-widgets-consumption-current-list-item"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev=''
        data-vis-set="zugspitze-widgets"
        data-vis-type="val,state,string,number,bool,basic"
        data-vis-name="Consumption Current List Item"
        data-vis-attrs="oid/id;label/string;">

        <div class="vis-widget zugspitze-widget zugspitze-consumption-current-list-item <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds["zugspitze-widgets"].consumptioncurrentlistitem.createWidget(el, this.data) %>></div>
</script>

<script id="tplZugspitze-widgets-link-shelly-state"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev=''
        data-vis-set="zugspitze-widgets"
        data-vis-type="val,state,string,number,bool,basic"
        data-vis-name="Link Shelly State"
        data-vis-attrs="oid/id;">

        <div class="vis-widget zugspitze-widget zugspitze-link-shelly-state <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds["zugspitze-widgets"].linkshellystate.createWidget(el, this.data) %>></div>
</script>

<script id="tplZugspitze-widgets-details-shelly-state"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev=''
        data-vis-set="zugspitze-widgets"
        data-vis-type="val,state,string,number,bool,basic"
        data-vis-name="Details Shelly State"
        data-vis-attrs="oid/id;">

        <div class="vis-widget zugspitze-widget zugspitze-details-shelly-state <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds["zugspitze-widgets"].detailsshellystate.createWidget(el, this.data) %>></div>
</script>

<script id="tplZugspitze-widgets-switch-light-state"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev=''
        data-vis-set="zugspitze-widgets"
        data-vis-type="val,state,string,number,bool,basic"
        data-vis-name="Switch light State"
        data-vis-attrs="oid/id;">

        <div class="vis-widget zugspitze-widget zugspitze-switch-light-state <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds["zugspitze-widgets"].switchlightstate.createWidget(el, this.data) %>></div>
</script>

<script id="tplZugspitze-widgets-button-more-state"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev=''
        data-vis-set="zugspitze-widgets"
        data-vis-type="val,state,string,number,bool,basic"
        data-vis-name="Button More State"
        data-vis-attrs="oid/id;">

        <div class="vis-widget zugspitze-widget zugspitze-button-more-state <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds["zugspitze-widgets"].buttonmorestate.createWidget(el, this.data) %>></div>
</script>

<script id="tplZugspitze-widgets-card-body-state"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev=''
        data-vis-set="zugspitze-widgets"
        data-vis-type="val,state,string,number,bool,basic"
        data-vis-name="Card Body State"
        data-vis-attrs="oid/id;">

        <div class="vis-widget zugspitze-widget zugspitze-card-body-state <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds["zugspitze-widgets"].cardbodystate.createWidget(el, this.data) %>></div>
</script>

<script id="tplZugspitze-widgets-card-state"
        type="text/ejs"
        class="vis-tpl"
        data-vis-prev=''
        data-vis-set="zugspitze-widgets"
        data-vis-type="val,state,string,number,bool,basic"
        data-vis-name="Card State"
        data-vis-attrs="oid/id;">

        <div class="vis-widget zugspitze-widget zugspitze-card-state <%== this.data.attr('class') %>" id="<%= this.data.attr('wid') %>" <%= (el) -> vis.binds["zugspitze-widgets"].cardstate.createWidget(el, this.data) %>></div>
</script>