/* Style your widget here */
.zugspitze-widgets-class {
    font-style: italic;
}

.zugspitze-alert-state-html-element,
.zugspitze-temperature-state-html-element {
    display: flex;
}

.materialdesign-value.value-text {
    margin: 0 !important;
}

.list-group-item.active {
    z-index: inherit;
    border-width: 1px 0 0 0;
}

.list-group-item {
    display: flex !important;
    border-width: 1px 0 0 0;
    padding: 0.75rem 1.25rem !important;
    color: #536373 !important;
}

[data-unit] .specs {
    margin-bottom: 0;
    text-align: left;
    color: rgba(83,99,115,.5);
    display: flex;
    align-items: center;
}

.zugspitze-type-shelly-state-html-element {
    text-align: right;
}

.zugspitze-type-shelly-state-html-element .materialdesign-value-html-element {
    font-size: small;
    opacity: 75%;
}

.shelly-admin-link {
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
}